body {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #eee;
  background-image: url("blue.jpg")";
}

.question {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
}




.question .panel-heading{
	font-size: 20px;
}

.question .panel-body {
	font-size: 18px;
}